[Unit]
Description=AmbientAudio
After=multi-user.target

[Service]
User=lee
WorkingDirectory=/home/lee/ambient-audio
ExecStart=/home/lee/.deno/bin/deno run --allow-net --allow-read --allow-write --allow-run --unstable-kv server.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
